 <div class="container">
               <!--Header and Navigation -->
                <%=link_to "track<span class='black' >and</span>cheese".html_safe, root_path, class:"navbar-brand", id:"smell-logo" %>
               <div class="hidden-sm hidden-md hidden-lg" id="navigation-button">
                       <button data-toggle="dropdown">
                               <span class='sr-only'>Toggle navigation</span>
                               <div class="icon-bar"></div>
                               <div class="icon-bar"></div>
                               <div class="icon-bar"></div>
                       </button>
                       <ul class='dropdown-menu pull-right'>
                                <li id='cheese'><%= link_helper("cheese", root_path, @current) %></li>
                                <li id='sports'><%= link_helper("sports", sports_path, @current) %></li>
                                <li id='government'><%= link_helper("government", government_path, @current)%></li>
                                <li class='divider'></li>
                                <li class='about'><%= link_helper("about", about_path, @current) %></li>
                       </ul>
               </div>
               <ul class="nav navbar-nav navbar-right hidden-xs" id="smell-nav">
                                <li id='cheese'><%= link_helper("cheese", root_path, @current) %></li>
                                <li id='sports'><%= link_helper("sports", sports_path, @current) %></li>
                                <li id='government' class="divide-after"><%= link_helper("government", government_path, @current)%></li>
                                <li id='about' class="divide-before"><%= link_helper("about", about_path, @current) %></li>
               </ul>
               <!-- Separator between header and content -->
               <div class="row" >
                       <div class="col-xs-12">
                               <div class="brder">
                               </div>
                       </div>
               </div>
                
        
                <!--Render each article in chronological order -->
                <% if @articles.present? %>
                        <% @articles.each do |article|  %>
                
                                <div class="row text-left posts" id="article">
                                        <div class="col-xs-12 text-left">
                                              <!--Icon is link to topic specific page  -->
                                              <%= link_to " <i class='icon-#{article.topic} hidden-xs'></i>".html_safe, eval("#{article.topic}_path")%><h2><%=article.title%></h2>
                                                <!--Render app(s) for article  -->
                                                <%= render :partial => "apps/app_template", :locals => { :app => article.apps.first } %>
                                                
                                                <h5 id="post-date">Posted <%= article.date  %></h5>
                                                <!-- Article Body -->
                                                <%= raw article.body  %>
                
                                        </div>
                                </div>
                                <!-- Article separator if there are multiple articles and current article is not the last one -->
                                <% if @articles.count>1 && article!=@articles.last %>
                
                                <div class="col-xs-12 spacer">
                                        <div class="mask"></div>
                                </div>
                
                                <% end %>
                
                        <% end %>
                <% else %>
                        <!-- About section. Need to transfer to own article -->
                        <% if @current=="about" %>
                                <div class= "row text-left" id="article">

                                <div class="col-xs-12 text-left" id="about">
                                        <h4>About</h4>
                                        <p>I'm an entry-level programmer and this is a place for me to publish work as I learn. I'll be posting about random topics that interest me using whatever techniques I'm exploring at the time. I especially enjoy data analysis and data visualization. Also, don't be surprised if most posts have to do with sports, specifically basketball.</p>
                                        <p>If you're wondering, <i>cheese</i> is a reference to <i>parcheesy</i>, my completely nonsensical pseudonym. And if the name of this blog still doesn't make sense I've overestimated my ability to come up with cheesy puns.</p>
                                        <p>Have a grate day!</p>
                                        <p>Okay, I cheddar stop now.</p>  
                                </div>

                               </div>
                        <!-- If no posts exist in section -->       
                        <% else %>
                                <div class="row text-left" id="article">

                                        <div class="col-xs-12 text-left" id="empty-message">
                               
                                                <h4>Sorry, there aren't any <%= @empty_message  %> posts yet, but stay tuned!</h4>
                
                                        </div>
                                </div>
                        <% end %>
                <% end %>
 </div>
 <!--
<div class="navbar navbar-default navbar-fixed-bottom navbar-fixed-width hidden-xs">
        <ul class="nav navbar-nav navbar-left"> 
                <li><a href='/'>first</a></li>
                <li><a href='/'>prev</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                 <li><a href='/'>next</a></li>
                 <li><a href='/'>last</a></li>
         </ul>
</div>
-->

