<div class="app col-xs-12" id="<%=app.cssid%>">
        <% player=Player.where(name:"Stephen Curry").first %>

        <%= form_tag({controller:'apps', action: 'index'}, class:'special-submit', method: "get", remote: true)  do %>
          <div id="bloodhound">
          <input type='hidden' name='appid' value='<%=app.id%>'>
          <input type='text' id='name-form'  class='form-control typeahead' value='<%= params[:namesearch] %>' name='namesearch' placeholder="Enter Player Name" autocomplete="off" >
          <input type='submit' value='Submit' style='display:none' >
          </div>
        <% end %>
                        <div class="col-sm-6 col-xs-12 text-center" id="player-wrapper">
                                <h3><%=player.name%></h3>
                                <%= image_tag(player.image, id:"player_image") %>
                        </div>
                        <div id="table-container" class="col-sm-6 col-xs-12">
                                <table id="stats" class="table table-bordered table-hover table-condensed table-responsive">
                                        <thead>
                                                <tr>
                                                        <th>Career Stats</th>
                                                        <th>Regular Season</th>
                                                        <th>Postseason</th>
                                                        <th>Difference</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr id="mpg">
                                                        <td>MPG</td>
                                                        <td class="reg_season"><%=player.minutes_pg%></td>
                                                        <td class="post_season"><%=player.playoff_minutes_pg%></td>
                                                        <% if player.diff_minutes_pg >= 0 %>
                                                        <td class="difference positive"><%=player.diff_minutes_pg%></td>
                                                        <% else %>
                                                        <td class="difference"><%=player.diff_minutes_pg%></td>
                                                        <% end %>

                                                </tr>

                                                <tr id="ppg">
                                                        <td>PPG</td>
                                                        <td class="reg_season"><%=player.pts_pg%></td>
                                                        <td class="post_season"><%=player.playoff_pts_pg%></td>
                                                        <% if player.diff_pts_pg >= 0 %>
                                                        <td class="difference positive"><%=player.diff_pts_pg%></td>
                                                        <% else %>
                                                        <td class="difference negative"><%=player.diff_pts_pg%></td>
                                                        <% end %>

                                                </tr>
                                                <tr id="fg_perc">
                                                        <td>FG%</td>
                                                        <td class="reg_season"><%=BigDecimal(player.fg_perc) * 100%>%</td>
                                                        <td class="post_season"><%=BigDecimal(player.playoff_fg_perc) * 100%>%</td>
                                                        <% if player.diff_fg_perc >= 0 %>
                                                        <td class="difference positive"><%=BigDecimal(player.diff_fg_perc) * 100%>%</td>
                                                        <% else %>
                                                        <td class="difference negative"><%=BigDecimal(player.diff_fg_perc) * 100%>%</td>
                                                        <% end %>

                                                </tr>
                                                <tr id="three_fg_perc">
                                                        <td>3ptFG%</td>
                                                        <td class="reg_season"><%=BigDecimal(player.threept_perc) * 100%>%</td>
                                                        <td class="post_season"><%=BigDecimal(player.playoff_threept_perc) * 100%>%</td>
                                                        <% if player.diff_threept_perc >= 0 %>
                                                        <td class="difference positive"><%=BigDecimal(player.diff_threept_perc) * 100%>%</td>
                                                        <% else %>
                                                        <td class="difference negative"><%=BigDecimal(player.diff_threept_perc) * 100%>%</td>
                                                        <% end %>

                                                </tr>
                                                <tr id="apg">
                                                        <td>APG</td>
                                                        <td class="reg_season"><%=player.ast_pg%></td>
                                                        <td class="post_season"><%=player.playoff_ast_pg%></td>
                                                        <% if player.diff_ast_pg >= 0 %>
                                                        <td class="difference positive"><%=player.diff_ast_pg%></td>
                                                        <% else %>
                                                        <td class="difference negative"><%=player.diff_ast_pg%></td>
                                                        <% end %>
                                                </tr>
                                               <tr id="topg">
                                                        <td>TOPG</td>
                                                        <td class="reg_season"><%=player.to_pg%></td>
                                                        <td class="post_season"><%=player.playoff_to_pg%></td>                         
                                                        <% if player.diff_to_pg >= 0 %>
                                                        <td class="difference positive"><%=player.diff_to_pg%></td>
                                                        <% else %>
                                                        <td class="difference negative"><%=player.diff_to_pg%></td>
                                                        <% end %>
                                               </tr>
                                       </tbody>
                                </table>
                        </div>
</div>
<p class="citation text-muted"><%=app.citation%></p>
