<!DOCTYPE html>
<html>
<head>
  <title>TrackAndCheese</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :head %>
</head>
<body>

              
                <%= yield %>

                <!--
               <div class="navbar navbar-default navbar-fixed-bottom navbar-fixed-width hidden-xs">
                       <ul class="nav navbar-nav navbar-left"> 
                               <li><a href='/'>first</a></li>
                               <li><a href='/'>prev</a></li>
                       </ul>
                       <ul class="nav navbar-nav navbar-right">
                                <li><a href='/'>next</a></li>
                                <li><a href='/'>last</a></li>
                        </ul>
               </div>
               -->
        


</body>
</html>
